*           text=auto

*.tsx       text eol=lf
*.ts        text eol=lf
*.markdown  text diff=markdown
*.md        text diff=markdown
*.scss      text diff=css
*.json      text
*.css       text diff=css
*.htm       text diff=html
*.html      text diff=html

*.*rc       text